MINIO_ROOT_USER="CONFIG_MINIO_ROOT_USER"
MINIO_ROOT_PASSWORD="CONFIG_MINIO_ROOT_PASSWORD"

PHOTOATOM_CONSOLE_ACCESS_KEY="PHOTOATOM_CONSOLE_ACCESS_KEY_HERE"
PHOTOATOM_CONSOLE_SECRET_KEY="PHOTOATOM_CONSOLE_SECRET_KEY_HERE"

POSTGRES_CONSOLE_ACCESS_KEY="POSTGRES_CONSOLE_ACCESS_KEY_HERE"
POSTGRES_CONSOLE_SECRET_KEY="POSTGRES_CONSOLE_SECRET_KEY_HERE"